/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._bottomMenu_1mulz_125 {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
._bottomMenu_1mulz_125._collapsed_1mulz_130 {
  border-top: var(--border);
}
._bottomMenuItems_1mulz_134 {
  padding: var(--spacing--3xs);
}
._popover_1mulz_138 {
  padding: var(--spacing--4xs);
  min-width: 260px;
  border-radius: var(--radius);
  background-color: var(--menu--color--background, var(--color--background--light-2));
}
._popoverTitle_1mulz_145 {
  display: block;
  margin-bottom: var(--spacing--3xs);
  padding-left: var(--spacing--3xs);
  margin-top: var(--spacing--xs);
}
._divider_1mulz_152 {
  display: block;
  width: 100%;
  padding-top: var(--spacing--3xs);
  border-bottom: var(--border);
  margin-bottom: var(--spacing--3xs);
  background-color: var(--color--border);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._header_78lrt_125 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xs) var(--spacing--3xs);
  justify-content: space-between;
  gap: var(--spacing--4xs);
}
._header_78lrt_125 img {
  position: relative;
  left: 1px;
  height: 20px;
  margin-right: auto;
}
._header_78lrt_125._collapsed_78lrt_138 {
  flex-direction: column;
  border-bottom: var(--border);
}
._logo_78lrt_143 {
  margin-right: auto;
}
._beta_78lrt_147 {
  margin-top: var(--spacing--3xs);
  margin-left: var(--spacing--3xs);
}
._readOnlyEnvironmentIcon_78lrt_152 {
  display: inline-block;
  color: white;
  background-color: var(--color--warning);
  align-self: center;
  padding: 2px;
  border-radius: var(--radius--sm);
  margin: 7px 12px 0 5px;
}
._iconButton_78lrt_162 {
  margin-left: auto;
  margin-right: 5px;
}
._upgradeButton_78lrt_167 {
  margin-left: auto;
}